*.*
*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*.tex
!*.gnu
!*.dat
!*.txt
!*.bib
!*.py
!*.png
!*.jpg
!*.sh
!*.nb
!*.pdf
!*.tar
!INLU
!INLUCN
!INOB
!INEN
!INQUA_N
!LUCN
!KOBER
!DROBER
!DRLUD
!QUAF
!DRQUA_AK
!DR2END_AK
!DRQUA
!DR2END_AK_I_2
!*.f
!Make*
!*pot*
!*/
